
<div>This is Angular Routing Practice Guide</div>
<!-- <a routerLink="/home">Homepage</a><br>
<a routerLink="/contact">Contact</a> -->

<a [routerLink]="['/home']">Homepage Link</a><br>
<a [routerLink]="['/contact']">Contact Link</a>

<br>
<div [routerLink]="['/home']" style="cursor: pointer;">Homepage Div</div>
<div [routerLink]="['/contact']" style="cursor: pointer;">Contact Div</div>
<br>

<button (click)="navigateToHome()">Homepage</button>
<button (click)="navigateToContact()">Contact</button>

<!-- diff btn absolute and relative path -->
<!-- Above all are absolute path where / point to root level of application -->

<br>
<div routerLink="home" style="cursor: pointer;">Homepage</div>
<div routerLink="contact" style="cursor: pointer;">Contact</div>
<!-- relative path not start with / it add path in current activated route here current activated route is / -->

<button (click)="navigateToHomeRelative()">Homepage Relative</button>
<button (click)="navigateToContactRelative()">Contact Relative</button>

<div>--------------------------------------------------------------------------------------</div>
<div>Pass parameter in route</div>
<a [routerLink]="['user', userId]">Pass Parameter</a><br>
<br><button (click)="passParameter()">Navigate to</button>

<a [routerLink]="['/optional', 'ajay', '27',]" [queryParams]="{q1: 'val1'}" [fragment]="'fragment'">query Parameter and Fragment</a><br>
<button (click)="redirect()">query Parameter and Fragment2</button>

<router-outlet></router-outlet>